body { 
     background: url(background.png) no-repeat center center fixed; 
     
     background-size: cover;
 }

.rocket {
    width: 2%;
    margin-top: 100px;
}

.display {
    color: white;
    margin-left: 1%;
}